<div class="container">
    <div class="sidebar">
        <div class="logo">
            <h2>Student Resource Hub</h2>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Add Resource</a></li>
            
            <!-- Dropdown Menu -->
            <li class="dropdown">
                <a href="#">Categories</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Programming </a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Math</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>